//colors

$prime: #100E0E;
$Ghost_White: #f9f9f9;
$True_Blue: #0071e4;
$Perfect_white: #fff;
$Philippine_Silver: #b7b7b7;
$Harlequin_Green: #52d116;
$lightBlue: #D0EAFC;
$Dark_Silver: #706e6e;
$Taupe_Gray: #878787;
$Alien_Armpit: #6fd91c;