.advantages__title {
  text-align: center;
  color: #100e0e;
  font-family: SF Pro Display;
  font-size: 32px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 24px;
}

.advantages__list_tablet {
  display: none;
}

.advantages__list_item_title {
  color: #100e0e;
  font-family: SF Pro Display;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 8px;
}

.advantages__list_item_text {
  color: #585656;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 99px;
  text-align: center;
}

.advantages__list_item_btn {
  color: #0071e4;
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #0071e4;
  padding: 18px 60px;
  margin: 0 auto;
}

.advantages__list_item {
  max-width: 228px;
}

.i1 {
  position: relative;
  border-radius: 16px;
  background: linear-gradient(180deg, #fe94a6 0.04%, #f2f2f2 65.84%);
}

.i1::before {
  content: "";
  position: absolute;
  width: 160px;
  left: 34px;
  top: 24px;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../img/discount.png");
}

.i2 {
  position: relative;
  border-radius: 16px;
  background: linear-gradient(180deg, #e685ff 0.04%, #f2f2f2 65.84%);
}

.i2::before {
  content: "";
  position: absolute;
  width: 160px;
  left: 34px;
  top: 24px;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../img/delivery.png");
}

.i3 {
  position: relative;
  border-radius: 16px;
  background: linear-gradient(180deg, #7de9ff 0.04%, #f2f2f2 65.84%);
}

.i3::before {
  content: "";
  position: absolute;
  width: 160px;
  left: 34px;
  top: 24px;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../img/card_wallet.png");
}

.i4 {
  position: relative;
  border-radius: 16px;
  background: linear-gradient(180deg, #ffe685 0.04%, #f6f6f6 65.84%);
}

.i4::before {
  content: "";
  position: absolute;
  width: 160px;
  left: 34px;
  top: 24px;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../img/building_with_columns.png");
}

.i5 {
  position: relative;
  border-radius: 16px;
  background: linear-gradient(180deg, #adffc1 0.04%, #f2f2f2 65.84%), #f2f2f2;
}

.i5::before {
  content: "";
  position: absolute;
  width: 160px;
  left: 34px;
  top: 24px;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../img/approval.png");
}

.advantages__list_item_div {
  padding-right: 8px;
  padding-bottom: 32px;
  padding-left: 8px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

// ============== tablet ===============//

.advantages__list_tablet_item_title {
  color: #100e0e;
  font-family: SF Pro Display;
  font-size: 24px;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 8px;
}

.advantages__list_tablet_item_text {
  color: #585656;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
}

.advantages__list_tablet_item_link {
  color: #0071e4;
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #0071e4;
  padding: 18px 60px;
  margin-right: 71px;
}

.advantages__list_tablet_item {
  position: relative;
  display: flex;
  border-radius: 16px;
  background: #f9f9f9;
  padding-left: 90px;
  align-items: center;
  margin-bottom: 8px;
}

.tablet1::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  background-repeat: no-repeat;
  background-image: url("../img/mini-discount.png");
}

.tablet2::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  background-repeat: no-repeat;
  background-image: url("../img/mini-delivery.png");
}

.tablet3::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  background-repeat: no-repeat;
  background-image: url("../img/mini-card-wallet.png");
}

.tablet4::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  background-repeat: no-repeat;
  background-image: url("../img/mini-building-with-columns.png");
}

.tablet5::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  background-repeat: no-repeat;
  background-image: url("../img/mini-approval.png");
}

.advantages__list_tablet_item_text {
  padding-right: 16px;
}

.advantages__list_mobile_item_title {
    display: flex;
    align-items: center;
    gap: 8px;
  color: #100e0e;
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 12px;
}

.advantages__list_mobile_item_text {
  color: #585656;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
}

.advantages__list_mobile_item {
    position: relative;
  border-radius: 16px;
  background-color: #f9f9f9;
  padding-left: 56px;
  padding-top: 20px;
}

.advantages__list_mobile_item_title::before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url('../img/mobile-discount.png');
}

.advantages__list_mobile_item{
    display: none;
}

.advantages__list_mobile_item_text{
    padding-left: 0;
    text-align: left;
    padding-bottom: 16px;
    padding-right: 23px;
}

.advantages__list_mobile_item{
    margin-bottom: 8px;
}

.advantages{
    margin-bottom: 21px;
}

// ================= media =======================

@media screen and (max-width: 1240px) {
  .advantages__list {
    display: none;
  }

  .advantages__list_tablet {
    justify-content: center;
    display: block;
  }

  .advantages__list_tablet_item {
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .advantages__list_mobile_item{
    display: none;
  }
}

@media screen and (max-width: 576px) {
    .advantages__list_tablet{
        display: none;
    }

    .advantages__list_mobile_item{
        display: inline-block;
    }
}
